/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
}

body{
  font-family: sans-serif;
  line-height: 1.4;
}

a{
  color: #3f3f3f;
  text-decoration: none;
}

.container{
  padding: 0 1rem;
}

.btn{
  display:inline-block;
  border:none;
  background: #3f3f3f;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.brn:hover{
  background: #666;
}
